[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
numpy = "*"
onnx = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
